www-data@{{ansible_hostname}}.ovh.net    notification@domain.net
notification@{{ansible_hostname}}.ovh.net        notification@domain.net
root@{{ansible_hostname}}.ovh.net        notification@domain.net
