www-data@{{ansible_hostname}}.domain.net    notification@domain.net
notification@{{ansible_hostname}}.domain.net        notification@domain.net
root@{{ansible_hostname}}.domain.net        notification@domain.net
